.container {
  text-align: center;
}

.title {
  margin-bottom: 20px;
  font-size: 3rem;
}

.searchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchInput {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
}

.searchButton {
  margin-left: 10px;
  padding: 10px;
  background-color: #0070f3;
  color: white;
  border: none;
  cursor: pointer;
}

.errorMessage {
  color: red;
  margin-top: 20px;
}
