.wrapper {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  padding: 1rem;
}

.container h1 {
  margin: 0;
  text-align: center;
}

.aboutContainer {
  max-width: 800px;
  padding: 2rem 4rem;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.aboutContainer h1 {
  margin-bottom: 1rem;
  text-align: center;
}

.aboutContainer p {
  text-align: justify;
  margin-bottom: 1rem;
  line-height: 1.5;
}

.content {
  width: 100%;
  text-align: left;
}
.content a {
  color: #4caf50;
}

.content a:hover {
  text-decoration: underline;
  text-decoration-color: green;
}

.aboutContent {
  width: 75%;
  text-align: center;
}

.linkWrapper {
  position: fixed;
  bottom: 16px;
  right: 16px;
  color: #4caf50;
}

.link {
  cursor: pointer;
  color: #4caf50;
}
