.table {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  max-width: 600px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: opacity 2s;
}

.visible {
  opacity: 1;
}

/*.container {
  margin-top: 50px;
  text-align: center;
}

.city {
  font-size: 2rem;
}

.date {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.table {
  width: 50%;
  margin: 0 auto;
}

.label {
  text-align: left;
  padding-left: 20px;
}

.value {
  text-align: right;
  padding-right: 20px;
}

.alteredLatitudeNote {
  font-size: 0.8rem;
  color: #888;
  margin-top: 10px;
}

.date {
  font-size: 18px;
  font-weight: normal;
  margin-top: -10px;
  margin-bottom: 20px;
}
*/